<swiper-container loop="true" navigation="true" class="main-swiper" style="">
    <swiper-slide class="slide">
        <div class="image-div" style="">
            <img  class="testimonial-image" src="assets/etihad.png">
            <p class="name" >Anonymous (Confidential)</p>
            <p class="pos">Manager , Etihad ESCO</p>
        </div>
        <div class="text-div" >
        <img class="commas" style="" src="assets/commas.png">
            <p class="testimonial-text">Harsh has been managing our branding services for Etihad Energy Services proficiently. His team has provided content regularly and engaged with our audience, helping to maintain our brand presence online.Overall we acknowledge their dedication and the positive impact they have on our marketing efforts</p>
        </div>
       
    </swiper-slide>
    <swiper-slide class="slide">
        <div class="image-div" style="">
            <img style="" class="testimonial-image" src="assets/nihal.png">
            <p class="name">Nihal</p>
            <p class="pos">(Confidential)</p>
        </div>
        <div class="text-div" >
        <img class="commas" src="assets/commas.png">
            <p class="testimonial-text">I connected with Harsh on mail, and we discussed how personal branding can save my time and money as well. He literally managed the entire social media postings, even LinkedIn posts, which I always felt lazy to write about.
                10/10 recommended.</p>
        </div>
       
    </swiper-slide>
    <swiper-slide class="slide">
        <div class="image-div" >
            <img  class="testimonial-image" src="assets/billy.png">
            <p class="name">Billy Woodlock</p>
            <p class="pos">Consultant</p>
        </div>
        <div class="text-div" >
        <img class="commas" style="" src="assets/commas.png">
            <p class="testimonial-text">We have been working with The Bravoji Team and their work on social media and services has been commendable. They are a highly dedicated team, delivering quality work within stipulated timelines.</p>
        </div>
       
    </swiper-slide>
    <!-- <swiper-slide class="slide">
        <div class="image-div" >
            <img class="testimonial-image" src="assets/etihad.png">
            <p >Patyre Padares</p>
            <p >Manager , Etihad ESCO</p>
        </div>
        <div class="text-div" >
        <img class="commas" src="assets/commas.png">
            <p class="testimonial-text">I would like to express my gratitude to Bravoji for their excellent work. They has excelled in understanding our needs and identifying effective methods to enhance our practices.</p>
        </div>
       
    </swiper-slide> -->

</swiper-container>